*{
    margin:0;
    padding:0;
    font-family: Museo Sans, Arial, Helvetica, sans-serif;
}
.page{
    border: 1in; 
    background-color: rgb(228, 222, 222);
}

.a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.nav{
    margin:auto;
    width: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;
}

.body{
    font-family: Museo-Sans, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-left: 20px;
    float: left; 
    width: 100%;
}
h2, h4, p {
    margin: 0;
 }

.title{
    text-align: center;
    font-size: larger;
}

.section{
    margin-left: 50px;
    margin-right: 50px;
}

.iframe{
    width: 1000px;
    height: 800px;
    align-items: center;
}

.center{
    align-items: center;
    width: 100%;
}

.table .th .td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border: 1px;
}
.code-container {
  max-width: 100%;
  margin: none;
}

.pre {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow-x: auto;
}

.code {
  font-family: Consolas, Monaco, monospace;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  white-space: pre;
  margin: 0;
}